@font-face {
    font-family: 'arcadeClassic';
    src: url(/src/assets/ARCADECLASSIC.TTF);
    font-weight: 400;
}


.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameMap {
    width: 560px;
    height: 620px;
}

.score {
    border: 2px blue dotted;
    box-sizing: border-box;
    border-radius: 5px;
    width: 80px;
    height: 620px;
    padding: 35px;
    margin: 20px;
    color: #f982ff;
    font-family: arcadeClassic, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreText {
    font-family: arcadeClassic, serif;
    text-align: center;
    color: white;
    font-size: 34px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}